# Python
__pycache__/
*.py[cod]
*.egg-info/
emby_wrapped.egg-info/
.dist-info/
.venv/
.env
.pytest_cache/
.mypy_cache/

# Outputs
output-of-app/
output*/
*.log
archive/

# OS/editor
.DS_Store
.vscode/
.idea/
